.section {
    width: 100%;
    position: relative;
    z-index: 20;
    transition: $transition;
}
.section--active {
    .section__content {
        opacity: 1;
    }
}
.section__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    opacity: 0;
    transition: $transition;
}
.section__title {
    color: white;
    text-align: center;
    margin: 20px 0 30px;
    font-size: 35px;
}
.item {
    background-color: $dark-grey;
    flex: 1 1 calc(25% - 20px);
    max-width: calc(25% - 20px);
    padding: 20px;
    border-top: 3px solid $yellow;
    margin-bottom: 50px;
    box-shadow: 0px 3px 17px -7px rgba($yellow, 68%);
    transition: $transition;
    span {
        display: block;
    }
    @media (max-width: 992px) {
        flex: 1 1 100%;
        max-width: 100%;
    }
}
.desc {
    color: $white;
    font-size: 18px;
    margin-bottom: 15px;
}
.desc--uppercase {
    text-transform: uppercase;
}
.desc--md {
    color: $white;
    padding: 5px 0;
}
.desc--sm {
    color: $yellow;
    margin-top: 10px;
}
.desc--xs {
    color: $yellow;
    margin-top: 10px;
    font-size: 10px;
}
.loader {
    font-size: 100px;
    color: $white;
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.loader__text {
    font-size: 35px;
    display: block;
    margin-bottom: 30px;
    text-transform: lowercase;
    font-weight: 500;
    color: $yellow;
    text-align: center;
}
.loader__img {
    width: 200px;
    height: 151px;
}
.dot {
    display: inline;
    position: relative;
    animation: showHideDot 1.5s ease-in-out infinite;
    &.one { animation-delay: 0.2s; }
    &.two { animation-delay: 0.4s; }
    &.three { animation-delay: 0.6s; }
}
@keyframes showHideDot {
    0% { opacity: 0; }
    50% { opacity: 1; }
    60% { opacity: 1; }
    100% { opacity: 0; }
  }
  