.section {
    width: 100%;
    padding: 60px 0;
    position: relative;
    z-index: 20;
}
.section__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow-y: scroll;
    @media (max-width: 992px) {
        max-height: 800px;
    }
}
.section__title {
    color: white;
    text-align: center;
    margin: 20px 0 30px;
    font-size: 35px;
}
.item {
    background-color: $dark-grey;
    flex: 1 1 calc(25% - 20px);
    max-width: calc(25% - 20px);
    padding: 20px;
    border-top: 3px solid $yellow;
    margin-bottom: 50px;
    box-shadow: 0px 3px 17px -7px rgba($yellow, 68%);
    transition: $transition;
    span {
        display: block;
    }
    &:hover {
        background-color: $black;
    }
    @media (max-width: 992px) {
        flex: 1 1 100%;
        max-width: 100%;
    }
}
.desc {
    color: $white;
    font-size: 18px;
    margin-bottom: 15px;
}
.desc--uppercase {
    text-transform: uppercase;
}
.desc--md {
    color: $white;
    padding: 5px 0;
}
.desc--sm {
    color: $yellow;
    margin-top: 10px;
}
.desc--xs {
    color: $yellow;
    margin-top: 10px;
    font-size: 10px;
}